<h1 class="{% if expense.trashed_at %}trashed_at{% endif %}">
    {% if expense.url is defined %}
        <a href="{{ expense.url }}">{{ expense.name }}</a>
    {% else %}
        {{ expense.name }}
    {% endif %}
</h1>

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-8">
            Acheté le {{ expense.created_at | date(format="%d/%m/%Y") }} chez {{ expense.shop }} pour {{ expense.price | round(precision=2) }} €
        </div>
    </div>

    {% if expense.serial %}
        {{ macros::form_control(label="N° série", value=expense.serial) }}
    {% endif %}

    {% if expense.warranty_active %}
        {{ macros::form_control(label="Garantie", value=expense.warranty_at | date(format="%d/%m/%Y")) }}
    {% else %}
        {{ macros::form_control(label="Garantie", value=" <strong>terminée</strong>") }}
    {% endif %}

    {% if has_media(data_dir=data_dir, id=expense.id, file_type="invoice") == true %}
        {{ macros::form_control(label="", value='<a href="/expenses/' ~ expense.id ~ '/invoice">Facture</a>') }}
    {% endif %}

    {% if has_media(data_dir=data_dir, id=expense.id, file_type="notice") == true %}
        {{ macros::form_control(label="", value='<a href="/expenses/' ~ expense.id ~ '/notice">Notice</a>') }}
    {% endif %}

    <div class="form-group">
        <a href="/expenses/{{ expense.id }}/photo"><img class="center-block" src="/expenses/{{ expense.id }}/photo" /></a>
    </div>

    <div class="form-group">
        <a href="/expenses/{{ expense.id }}/edit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
        {% if not expense.trashed %}
            <a href="/expenses/{{ expense.id }}/trash" class="btn btn-warning"><span class="glyphicon glyphicon-trash"></span> Jeter</a>
        {% else %}
            <a href="/expenses/{{ expense.id }}/untrash" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Recycler</a>
        {% endif %}
        <a onclick="return confirm('Êtes vous sûr ?');" href="/expenses/{{ expense.id }}/delete" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Supprimer</a>
    </div>
</form>
