{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>S.A.V.</title>
        <link href="/static/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen" />
        <link href="/static/css/main.css" rel="stylesheet" media="screen" />
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-default">
                <a class="navbar-brand mr-auto" href="/">S.A.V.</a>

                <form class="form-inline">
                    <input
                        class="form-control mr-sm-2"
                        type="search"
                        placeholder="Search"
                        name="q"
                        value="{{ q|default(value="") }}"
                    />
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>

            {% if flash %}
                <div class="alert alert-{{ flash.0 }}">
                    <p>{{ flash.1 }}</p>
                </div>
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </body>
</html>
